body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

@media ( min-width :767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
	}
	.top-nav-collapse {
		padding: 0;
	}
}

.app-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #eee;
}

.jboss-section {
	height: 100%;
	padding-top: 150px;
	text-align: center;
	background: #fff;
}

.h1, h1 {
	text-align: left;
}

.theme-header-left>a {
	width: 200px;
	margin-top: 15px !important;
}

.nav, .navbar-nav>li>a:hover {
	background-color: #658dad;
	color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	background-color: #F39A00;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a
	{
	color: #fff !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #fff !important;
}

.processing {
	width: 300px;
	height: 50px;
	border-radius: 4px;
	text-align: left;
	padding: 15px;
	color: #F39A00;
	font-weight: 700;
	float: right;
}