html,body {
    width: 100%;
    max-width: 100%;
   	/*overflow-x: hidden;*/
   	overflow: hidden;
}

body {
    background-color: #f8f8f8;
    height: 100%!important;
}

.wrapper {
    width: 100%;
}

.navbar-right {
    float: right!important;
    padding-right: 1px;
}

.navbar .nav.nav-tabs {
	display: none;	
}

.theme-app.tabbed .navbar .nav.nav-tabs {
    display: inline;
    max-height: 46px;
    overflow-y: hidden;
    /*overflow-x: hidden;*/
}
.theme-app.tabbed .navbar .nav.nav-tabs:hover {
    display: inline-table;
    overflow-y: visible;
    max-height: none;
}

.page-wrapper {
    padding: 0 15px;
    /*min-height: 568px;*/
    background-color: #fff;
    margin-top: 50px;
}

.theme-app.tabbed .page-wrapper {
	margin-top: 90px;
}

.theme-app .theme-header-right-navmenu {
	display: none;
}

.theme-app.menu .theme-header-right-navmenu {
	display: block;
}

.theme-main-container {
    margin: 50px 0 50px 0px;
    padding-top: 10px;
    /*padding: 5px;
    /*overflow-x: hidden;
    overflow-wrap: break-word;*/
}

.label {
    white-space: initial!important;
}

.theme-main-container .row {
    margin-right: 0px;
    margin-left: 0px;
}


@media(min-width:768px) {
    .page-wrapper {
        position: inherit;
        margin: 50px 0 0 250px;
        padding: 0 10px;
        border-left: 1px solid #e7e7e7;
    }
    
    .theme-app.tabbed  .page-wrapper {
    	margin: 110px 0 50px 0px;
    }
    
    .theme-app.collapse.in.tabbed  .page-wrapper {
    	margin: 90px 0 0 70px;
    }
    body.theme-app.collapse.in  .page-wrapper {
    	margin: 50px 0 0 70px;
    }
    
    .theme-main-container {
        margin: 50px 0 50px 0px;
        padding-top: 10px;
    }
 
    .theme-app.menu  .theme-main-container {
            margin: 45px 0 50px 250px;
    }

    .theme-app.menu .theme-header-right-navmenu {
        display: none;
    }
		
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.theme-app.tabbed .sidebar {
	margin-top: 110px;
}
.sidebar {
	margin-top: 70px;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

.theme-menu-header {
    display: none!important;
    padding: 1px!important;
    font-size: 10px;
}

@media(min-width:768px) {
		.theme-menu-header {
		    display: block!important;
		}
	
		.page-wrapper {
			
		}
		.theme-app.tabbed .sidebar {
			margin-top: 5px;
		}
		
    .sidebar {
        z-index: 100;
        position: absolute;
        width: 250px;
        margin-top: 15px;
    }
    
    .theme-app.collapse.in .sidebar {
    	width: 70px;
    }
    .theme-app.collapse.in .theme-menu-item-caption {
    	display: none;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .theme-app.menu .theme-header-right-logo {
        display: inline-block!important;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.navbar-brand-middle {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    padding: 15px;
    /*z-index: -1000;*/
}

.theme-menu-item > .theme-submenu {
	display: none;
}
.theme-menu-item.open > .theme-submenu {
	display: inline;
}
	
.theme-menu-item.open .fa.arrow:before {
    content: "\f107";
}

.theme-app.collapse.in, .theme-app.collapse {
	display: block;
}
.theme-app.collapsing {
	 -webkit-transition: none;
    transition: none;
}

.theme-app.collapse.in .theme-menu .theme-menu-header .theme-menu-header-right {
	display: none;
}

.theme-app.collapse.in .theme-menu .theme-menu-item.open .theme-submenu {
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 1000;
    display: inline;
    float: left;
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.theme-header-right {
	text-align: right;
}
.theme-header-right > .navbar-brand {
	    padding-top: 6px;
}

.theme-header-right > button {
	color: #fff;	
}

.theme-header-left-caption {
	display: block!important;
}

.theme-header-right-title {
	    display: inline-block;
}
.theme-header-right-subtitle {
	    font-size: small;
}
.theme-app.tabbed .theme-header-right-logo {
    display: inline-block;
    vertical-align: text-bottom;
}
.theme-app.menu .theme-header-right-logo {
    display: none;
}

.theme-app.menu .theme-menu-container {
	display: block;
    overflow-y: auto;
}


.theme-app.menu.theme-app.collapse.in .theme-menu-container {
    display: block;
    overflow-y: inherit;
}

.theme-menu-container {
	display: none;
}



/* SPIN Icon - para Feedback Service */
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    -moz-animation: spin 2000ms infinite linear;
    -o-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
    /*animation: spin  1s steps(3) infinite;*/
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.navbar-text {
    color: #fff!important;
}

.floatLeft {
    float: left;
}
.floatNone {
    float: none;
}
.floatRight {
    float:  right;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-width: 1px 0;
    margin: 18px 0;
    width: 100%;
}

.bg-primary {
    background-color: #296fa7;
}
.bg-danger {
    background-color: #920A04;
    color: #fff;
}
.bg-white {
    background-color: #fff;
    border-top: 1px solid #ffa100;
}


/* Exibiï¿½ï¿½o condicional de elementos */
.theme-app .hidden-platform {
    display: none!important;
}
.theme-app.preview .hidden-platform,
.theme-app.desktop .show-desktop,
.theme-app.mobile .show-mobile,
.theme-app.nativo .show-nativo,

.theme-app.android .show-android,
.theme-app.ios .show-ios,
.theme-app.winphone .show-winphone,

.theme-app.mobile.android .show-mobileandroid,
.theme-app.mobile.ios .show-mobileios,
.theme-app.mobile.winphone .show-mobilewinphone,

.theme-app.nativo.android .show-nativoandroid,
.theme-app.nativo.ios .show-nativoios,
.theme-app.nativo.winphone .show-nativowinphone
{
    display: inline!important;
}

.theme-main-timer > i {
    cursor: pointer!important;
}

.theme-app .theme-footer-container {
    display: none;
}
.theme-app.footer .theme-footer-container {
    display: inline;
}

.theme-main-button {
    margin-bottom: 15px;
}


/* Google Maps */
.theme-main-map-container {
    /*width:100%;*/
    height: 400px;
    border: 10px solid #fff;
    box-shadow: 0 0 5px #ccc;
    border-radius: 4px;
    text-align: center;
}

.theme-main-map-container > .theme-main-map {
    width: 100%;
    height: 100%;
}
.theme-main-map-label {
    margin-top: 10px;
}

/* Graficos */
.theme-main-chart {
    text-align: center;
}
.theme-main-chart-label {
}
.theme-main-chart .highchart-container {
    height:100%;
    /*width:98%;*/
}


/* Painel de Detalhe */
.theme-main-detail-panel .panel-warning {
    border-color: #f0ad4e;
}
.theme-main-detail-panel .panel-warning .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.theme-main-detail-panel .panel-danger {
    border-color: #d9534f;
}
.theme-main-detail-panel .panel-danger .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.theme-main-detail-panel .panel-default {
}
.theme-main-detail-panel .panel-default .panel-heading {
    color: #337ab7;
}


.theme-main-detail-panel .panel-heading {
    min-height: 100px;
}


.preloader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/preloader.gif) center no-repeat #fff;
    z-index: 9999;
}


.theme-auth {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

.theme-main-timer > button {
    margin: 5px;
}

/* resolve falha no submenu no firefox e no mobile */
.dropdown-backdrop {
    display: none!important;
}

[contenteditable="true"]{
    background-color: #cccccc;
    color: #555555;
}
[contenteditable="true"]:focus{
    background-color: #fff;
}

a { 
	color: #3c763d !important;
}

.st-selected {
    background: #BEBEBE !important;
    color: white !important;
}

.label-relatorio{
	padding-right: 0px !important;
	padding-top: 0px !important;
}

.control-export-table{
	padding-right: 0px !important;
    padding-left: 0px !important; 
    padding: 0px !important;
}

.clickable{
    cursor: pointer;   
}

.form-query{
	padding-top: 10px;
    padding-right: 20px;
}

.filter-list{
	margin-bottom: 15px;
	padding-bottom: 2px;
	background-color: #E8E8E8;
}

.table-filter-list{
	margin-top: 15px;
	margin-left: 5px;
}