.theme-app {
	background-color: #fff;
}

.theme-header {
	/* background-color: #fff; */
	background-color: #5cb85c;
	border-bottom: 3px solid #c9302c !important;
}
.theme-app.tabbed .theme-header {
	border-bottom: none!important;
}

.theme-header-tabs {
	border-top: 3px solid #F39A00!important;
}

.theme-header-right > .navbar-brand {
	color: #fff;
	padding-right: 5px;
}
.theme-header-left > .navbar-brand {
	color: #fff;
}

.theme-header-middle.navbar-brand{
	color: #fff;
}
.theme-header-tabs {
	    background-color: #fff;
}

.theme-header-tabs > li.active > a {
	background-color: #296fa7;
	color: #fff;
}
.theme-footer {
	background-color: #5cb85c;
	border-top: 3px solid #c9302c !important;
}

.theme-footer-right {
	padding-right: 10px;
}
.theme-footer-middle {

}
.theme-footer-left {
	padding-left: 10px;
}

.theme-header-left > a {
	background: url(../img/logo.png) no-repeat!important;
	width: 50px;
	height: 50px;
	margin-top: 5px!important;
	margin-left: 10px!important;
}
.theme-header-left-caption {
	display: none!important;
}

.theme-header-title {
	height: 63px;
}

.theme-header-right {
	padding: 7px;
	/*padding-right: 15px;*/
}

.theme-app.tabbed .theme-menu-container {
    margin-top: 120px!important;
}
.theme-app .theme-menu-container {
    margin-top: 80px!important;
}

.theme-app.collapse.in .theme-submenu-item > a {
	padding-left: 20px;
}

.theme-app .theme-main-container {
	border-left: 0px;
	background-color: transparent;
	margin: 70px 0 50px 0px;
}

.theme-app.menu .theme-main-container {
	margin: 10px 0 50px 0px;
}
	
@media (min-width: 768px) {
	.theme-app.tabbed .theme-menu-container {
	    margin-top: 20px!important;
	}
	.theme-app .theme-menu-container {
	    margin-top: 0px!important;
	}
	.theme-app.collapse.in .theme-menu-container {
		margin-top: 15px!important;
	}
	.theme-menu-container {
		position: fixed;
	}

	.theme-app.menu .theme-main-container {
		margin: 65px 0 50px 250px;
	}

	.theme-app.menu .theme-main-container {
		margin: 65px 0 50px 250px;
	}

	.theme-app.collapse.in  .page-wrapper {
		margin: 65px 0 50px 250px;
	}

	.theme-header-right {
		padding-right: 15px;
	}

	.theme-app.collapse.in .theme-menu-container {
		margin-top: 10px!important;
	}



	.theme-app.collapse.in  .page-wrapper {
		margin: 65px 0 0 70px!important;
	}

	.theme-app.collapse.in .theme-menu-container {
		margin-top: 0px!important;
	}

	.theme-main-container {
		margin: 67px 0 0 70px;
	}
	.theme-menu-container {
		margin-top: 3px!important;
	}
}


.sidebar-nav > .nav li > a.active {
    margin: 0;
    border-left: 4px solid #ffa100;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: #ffa100;
    border-top: 1px solid #d9d9d9;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(217, 217, 217);
    border-bottom: 1px solid #d9d9d9;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(217, 217, 217);
    background-color: #f5f7f7;
}

.theme-header .navbar-brand:hover {
	color: #fff;
}
.theme-footer .navbar-brand:hover {
	color: #fff;
}


button {
	margin-right: 5px;
}

/* texto */
.text-primary {
	color: #3c763d;
}
.text-primary-important {
	color: #3c763d !important;
}
.text-warning {
	color: #ffa100;
}
.text-warning-important {
	color: #ffa100!important;
}
.text-success {
	color: #3c763d;
}
.text-success-important {
	color: #3c763d!important;
}
.text-black {
	color: #464646;
	font-weight: 100;
}
.text-purple {
	color: #494d62;
	font-weight: 100;
}
.text-laranja {
	color: #ffa100;
	font-weight: 100;
}
.text-info {
	color: #c0b723;
	font-weight: 100;
}
.text-danger {
	color: #920A04;
	font-weight: 100;
}

/* Botoes */
.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}

.theme-menu-container {
	border-right: 1px solid #ADADAD;
	height: 100%;
	background: #fff;
}

.theme-main-container.menu {
	border-left: 0px;
	background-color: transparent;
	margin: 0px 0 50px 0px;
}

.theme-app.tabbed .page-wrapper {
	margin-top: 110px;
}


.theme-menu-item {
	border-bottom: 0px!important;
}

.scoll {
	overflow-y: scroll;
	height: 620px !important;
}