@font-face {
	font-family: 'FuturaWeb';
	src: url('../fonts/futura/FTN45__W.eot'); url
	('../fonts/futura/FTN45__W.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FTN45__W.woff') format('woff'),
	url('../fonts/futura/FTN45__W.ttf') format('truetype'),
	url('../fonts/futura/FTN45__W.svg#FuturaWeb') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaWeb';
	src: url('../fonts/futura/FTN85__W.eot'); url
	('../fonts/futura/FTN85__W.eot?#iefix') format('embedded-opentype'),
	url('../fonts/futura/FTN85__W.woff') format('woff'),
	url('../fonts/futura/FTN85__W.ttf') format('truetype'),
	url('../fonts/futura/FTN85__W.svg#FuturaWeb') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* Estilos criados */
body {
	color: #6E6E6E;
	background-color: #F8F8F8;
	font-family: "FuturaWeb", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
	height: 35px;
}

.login-logo {
	font-size: 35px;
	text-align: center;
	margin-top: 50px;
	font-weight: 300;
}

.col-center-block {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bg-white {
	background-color: #31AF49;
	border-top: 1px solid #DB2A27;
}

.dropdown-user {
	color: #31AF49 !important;
	margin-left: 108px;
}

.login-box {
	width: 360px;
	margin: 7% auto;
}

.login-box-body {
	background: #fff;
	padding: 30px;
	border-top: 0;
	color: #666;
}

.login-box-msg {
	margin: 0;
	text-align: center;
	padding: 0 20px 20px 20px;
}

@media ( max-width : 768px) {
	.login-box {
		width: 90%;
		margin-top: 20px;
	}
}

.footer {
	margin-top: 80px;
}

/* Customização dos estilos do bootstrap */
.navbar-default {
	background-color: #fff !important;
}

.navbar-fixed-bottom {
	background-color: #31AF49 !important;
}

.navbar-default .navbar-brand {
	color: #fff;
	padding: 10px 10px;
}

.navbar {
	margin-bottom: 0px !important;
}

.nav-pills {
	border-bottom: 1px solid #31AF49 !important;
	line-height: 2.2;
}

.navbar-text {
	color: white !important;
}

.navbar-left {
	float: left !important;
	padding-left: 5px;
}

.navbar-right {
	float: right !important;
	padding-right: 5px;
}

.navbar {
	border: none !important;
	border-radius: 0px !important;
}

.nav-pills-padding {
	padding: 3px;
}

.nav-pills>li>a {
	color: #fff !important;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: #fff !important;
	color: #333 !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	color: #333 !important;
}

.navbar-right {
	padding-top: 4px;
}

.panel-title {
	padding-top: 7.5px;
}

/* Disable calendar from input date*/
input::-webkit-calendar-picker-indicator {
   	display: none;
}

.green {
	color: #31AF49 !important;
}